.social {
	margin-left: 1rem;

	display: flex;

	&__icon {
		margin: 0 2rem;
		display: flex;
		align-items: center;

		font-size: $fontSizeLink;
		color: $colorLink;

		text-decoration: none;

		@include hover_link;

		&:first-child {
			margin-left: 0;
		}
		&:last-of-type {
			margin-right: 0;
		}

		img {
			width: 100%;
			max-width: 3.2rem;
		}
	}

	@include _desktop-c(1271px) {
		margin-left: 0;
	}
}
